</div>
<!-- <div class="row" style="margin-top:30px"> -->
    <h2>Results</h2>
        <p>We knew going into this project it would be very challenging because object detection and     
            machine learning on pictures was completely new to the entire group. During the two weeks there were 
            many challenges that needed to be overcome, and most were. 
    
        <h3>ML5 and Javascript</h3>
            <p>The coding for ML5 was straight forward, there were issue</p>




        </p>
    </div>
<div class="row">
<div class="column">
<img src="../static/Alpha.jpg" alt="Alpha"  width="500" height="300">
</div>
<div class="column">   
<img src="../static/handstowords1.jpg" alt="handstowords1"  width="500" height="300">
</div>
</div>

<div class="row" style="margin-top:30px">
    <h2>Results</h2>
        <p>Training takes 6 to 20 hours to train a model depending on computer hardware</p>


    <h2>Improvements</h2>
        <p>While our intentions were pure, the results have room for improvement and two weeks was not nearly 
            enough time to work on all the moving parts. </p>
    <ul>
        <li>Try different models Tensorflow models</li>https://github.com/tensorflow/models/tree/master/research/object_detection
        <li>Improve training pictures</li>   
        
        <ul>
            <li>Variety of poses</li>
            <li>Tighter bounding boxes</li>
        </ul>    
        <li>Make into an app/website</li>
    </ul>

</div>
</div>

</body>

</html>