<!DOCTYPE html>
<html>

<head>


  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sign Language</title>

 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/solar/bootstrap.min.css"
    integrity="sha384-NCwXci5f5ZqlDw+m7FwZSAwboa0svoPPylIW3Nf+GBDsyVum+yArYnaFLE9UDzLd" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous" />
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/solar/bootstrap.min.css"
    integrity="sha384-NCwXci5f5ZqlDw+m7FwZSAwboa0svoPPylIW3Nf+GBDsyVum+yArYnaFLE9UDzLd" crossorigin="anonymous"> -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
    integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
    crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">    

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.min.js" integrity="sha512-SuxO9djzjML6b9w9/I07IWnLnQhgyYVSpHZx0JV97kGBfTIsUYlWflyuW4ypnvhBrslz1yJ3R+S14fdCWmSmSA==" 
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.js" integrity="sha512-zO8oeHCxetPn1Hd9PdDleg5Tw1bAaP0YmNvPY8CwcRyUk7d7/+nyElmFrB6f7vg4f7Fv4sui1mcep8RIEShczg=="
     crossorigin="anonymous"></script>  -->
    <script src="https://d3js.org/d3.v6.min.js"></script>
  <style>
    .frameimg {
      height: 200px;
      border: 1px solid #777;
    }
    #canvas {
      margin: 60px
    }

    .frameimg2 {
      height: 250px;
      width: 300px;
    }

    a {
        color: blue;
      }

    body {
      background-image: url('');
      background-color: lightcyan;
    }
	.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

  </style>
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarcolor02"
      aria-controls="navbarcolor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarcolor02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/installation">Methodology</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/uploadSigns">Train Signs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signvideo">Sign video</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Cnn">Neural Network</a>
      </li>
	  <li class="nav-item">
          <a class="nav-link" href="/analysis">Analysis</a>
      </li>
      </ul>
    </div>
  </nav>
    <nav class="navbar navbar-expand-lg navbar-info bg-info">
        <span class="mx-auto h1 text-light">Analysis</span>
    </nav>
<!-- class="mx-auto h1 text-light";  "navbar-brand mb-0 h1">Stock Visualization Graphs -->
    <div class="w3-col w3-padding-large">
<!-- <div class="row" style="margin-top:30px"> -->
    <h1 class="w3-center">Brief Description</h1>
        <h5 class="w3-left">We knew going into this project it would be very challenging because object detection and     
            machine learning on pictures was completely new to the entire group. During the two weeks there were 
            many challenges that needed to be overcome, and most were. 
        </h5>
    </div>
    <div class="w3-col w3-padding-large">
        <h1 class="w3-center">Model Analysis</h1>
        <h5 class="w3-left">Having good images for our model is critical for training with the need for different
            views and oriatation for training. Because we lacked good variety of images the for our model we had mixed
            results with our loss function as well as our accuracy during object-detection demonstration.
        </h5>
        <h5 class="w3-left">There are multiple models to choose from the
            <a href="https://github.com/tensorflow/models/tree/master/research/object_detection/models" style type="text/css" target="_blank">Tensorflow Github</a>
            page. Model ssd_mobilenet_v2_pfnlite_320x320_coco17_tpu-8 was chosen
        </h5>

    </div>
<!-- <div class="row">
<div class="column"> -->
<img src="../static/Model_Loss.png" alt="Model_Loss"  width=100%>
</div>
<!-- <div class="column">   
<img src="../static/Alpha1.jpg" alt="Model_Loss"  width="500" height="300">
</div>
</div>        "../static/Model_Loss.png" -->

<div class="w3-col l6 w3-padding-large">
    <h2>Results</h2>
        <p>Training takes 6 to 20 hours to train a model depending on computer hardware</p>

</div>
<div class="w3-col l6 w3-padding-large">
    <h2>Improvements</h2>
        <p>While our intentions were pure, the results have room for improvement and two weeks was not nearly 
            enough time to work on all the moving parts. </p>
    <ul>
        <li>Try different models Tensorflow models</li>https://github.com/tensorflow/models/tree/master/research/object_detection
        <li>Improve training pictures</li>   
        
        <ul>
            <li>Variety of poses</li>
            <li>Tighter bounding boxes</li>
        </ul>    
        <li>Make into an app/website</li>
    </ul>

</div>
</div>
      
</body>

</html>