<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sign Language</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/solar/bootstrap.min.css"
    integrity="sha384-NCwXci5f5ZqlDw+m7FwZSAwboa0svoPPylIW3Nf+GBDsyVum+yArYnaFLE9UDzLd" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
    integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
    crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <script src="https://d3js.org/d3.v6.min.js"></script>
  <style>
    .frameimg {
      height: 200px;
      border: 1px solid #777;
    }

    #canvas {
      margin: 60px
    }

    .frameimg2 {
      height: 250px;
      width: 300px;
    }

    body {
      background-image: url('');
      background-color: lightcyan;
    }

    footer {
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  </style>
</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarcolor02"
      aria-controls="navbarcolor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarcolor02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/installation">Methodology</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/uploadSigns">Train Signs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signvideo">Sign video</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/ml5">Transfer Learning</a>
        </li>  
        <li class="nav-item">
          <a class="nav-link" href="/analysis">Analysis</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container" style="margin-top:30px">
    <div class="row">
      <h2 style="text-align:left">Methodology</h2>
    </div>
    <div class="row">
      <p>For our project we looked into building an application would convert ASL hands signs, into the corresponding
        words. We leveraged Tensorflow for the main component of the application. The high level flow can be found
        below.</p>
      <ol>
        <li>Setup paths</li>
        <li>Create label map</li>
        <li>Create Tensorflow records</li>
        <li>Test then train the model</li>
        <li>Detect ASL in real time</li>
        <li>Have fun</li>
      </ol>
    </div>
    <div class="row">
      <h2>Acquire Pictures</h2>
    </div>
    <div class="row">
    </div>
    <div class="row">
      <p>With finishing the Pipeline into Tensorflow, the next step was to feed it images. Using Images we took, the
        next step was to feed it into Tensorflow. Using a Jupyter Notebook
        we recorded us taking the images then using label maker to tell the Algorithm where to look for the ASL hand
        signs. </p>
      <ol>
        <li>Use the Jupyter Notebook to record our ASL handsigns</li>
        <li>The Notebook would then label the picture files according to what we were signing</li>
        <li>Move the pictures in to a label maker to crop the photos to tell the Algorithm where to look</li>
        <li>Transfer the cropped pictures into XML files</li>
        <li>Move both into Test and Train folder respectively</li>
        <li>Push up to transfer into the Learning Algorithm</li>
      </ol>
    </div>
    <div class="row">
      <p>Below are pictures of our data gathering process of our three team members performing
        American Sign Language for book. Multiple pictures were taken using labelImg that were later
        used to train our model.
      </p>
    
    
    <div class="w3-padding-large w3-col">
      <div class="w3-col">   
          <img src="../static/Book.jpg" alt="Book_Craig"  width="500" style="padding: 10px">
      
          <img src="../static/Book_Connor.jpg" alt="Book_Connor"  width="500" style="padding: 10px">
    
          <img src="../static/Book_Susan.jpg" alt="Book_Susan"  width="500" style="padding: 10px">
      </div>
  </div>
  </div>
</body>

</html>