<!DOCTYPE html>
<html>

<head>


  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sign Language</title>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/solar/bootstrap.min.css"
    integrity="sha384-NCwXci5f5ZqlDw+m7FwZSAwboa0svoPPylIW3Nf+GBDsyVum+yArYnaFLE9UDzLd" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" 
    integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="   
    crossorigin="anonymous"></script>

  <!-- <script src="https://d3js.org/d3.v6.min.js"></script> -->
  <script src="https://unpkg.com/ml5@latest/dist/ml5.min.js"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/p5@1.2.0/lib/p5.js"></script>
  <!-- <script src="p5.js"></script> -->
  <!-- <script src="sketch.js"></script> -->
  <script src="../static/js/video.js"></script>
  <link rel="stylesheet" type="text/css" src="style.css">
  <style>
    .frameimg {
      height: 200px;
      border: 1px solid #777;
    }
    #canvas {
      margin: 60px
    }

    .frameimg2 {
      height: 250px;
      width: 300px;
    }

    body {
      background-image: url('');
      background-color: lightcyan;
    }
  </style>
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarcolor02"
      aria-controls="navbarcolor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarcolor02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/installation">Installation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About Us</a>
        </li>
      </ul>
    </div>
  </nav>
<div class="container" style="margin-top:30px">
  <div class="row">
      <h2>Sign Language</h2>
      <img src="../static/asl_asl_studies.jpg" alt="Place Holderaa"  width="1050" height="300">
	</div>
	<div class="row">
      <p>Converting Hand Signs into Words</p>
    </div>
    </div>
   
  <script>
    // Your code will go here
    // open up your console - if everything loaded properly you should see the correct version number
    console.log('ml5 version:', ml5.version);
  </script>

</body>

</html>